{% extends 'Base.html' %}
{% block blocky %}
<form id="search_form" action="" method="POST">
    {% csrf_token %}
    <input name="search_query">
    <input name="department" type="checkbox" value="department">
    <input name="teacher" type="checkbox" value="teacher">
    <input name="course" type="checkbox" value="course">
    <button name="submit" type="submit">search</button>
</form>
<div id="all_courses">
    {% for course in courses %}
    <div class="{{course.course_number}}_{{course.group_number}}">
        <h4>{{course.name}}</h4>
        <div>{{course.department}}</div>
        <div>{{course.get_first_day_display}} {{course.get_second_day_display}}</div>
        <div>{{course.start_time|date:'H:i'}} {{course.end_time|date:'H:i'}}</div>
        <div>{{course.teacher}}</div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}