<html>
<head>
    <title>{% block title %} {% endblock %}</title>

</head>
<body>


<div id="navbar">
    {% if  not request.user.is_authenticated %}
        <a id="login" href="/login/">login</a>
        <a id="register" href="/sign_up/">Register</a>
    {% else %}
        <a id="logout" href="/logOut/">Log out</a>
        <a id=”profile” href="/Profile/">Profile</a>
    {% endif %}
    <a id="homepage" href="/">Home Page</a>
    <a id="contact_us" href="/contact_us/">Contact US</a>
</div>
{% block welcome %}
{% endblock %}
{% block sign_up %}
{% endblock %}
{% block login %}
{% endblock %}
{% block contact_us %}
{% endblock %}
{% block blocky %}
{% endblock %}
</body>
</html>