<html>
<head>
    <title>{% block title %} {% endblock %}</title>

</head>
<body>


<div id="navabar">
    {% if  not is_login %}
        <a id="login" href="/login/">login</a>
        <a id="register" href="/sign_up/">Register</a>
    {% endif %}
    <a id="homepage" href="/">Home Page</a>
    <!--<a id="contact_us" href="/contact_us/">Contact US</a>-->
</div>
{% block welcome %}
{% endblock %}
{% block sign_up %}
{% endblock %}
{% block login %}
{% endblock %}
{% block contact_us %}
{% endblock %}
{% block blocky %}
{% endblock %}
</body>
</html>