{% extends "Base.html" %}
{% block title %}
    sign up
{% endblock %}
{% block sign_up %}
    <br>

    {% if username_error %}
        <div id="errors">
            نام کاربری شما در سیستم موجود است
        </div>
    {% elif pass_error %}
        <div id="errors">
            گذرواژه و تکرار گذرواژه یکسان نیستند
        </div>
    {% endif %}
    <form id="register_form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <input name="first_name" placeholder="first name">
        <input name="last_name" placeholder="last name">
        <input name="username" placeholder="user name">
        <input name="email" placeholder="email">
        <input name="password1" placeholder="password">
        <input name="password2" placeholder="password">

        <button name="submit" type="submit">submit
        </button>
    </form>
{% endblock %}