{% extends "base.html" %}
{% block title %}
    sign up
{% endblock %}
{% block sign_up %}
    <br>
    {% if username_error %}
        <div id=”errors”>
            نام کاربری شما در سیستم موجود است
        </div>
    {% endif %}
    {% if pass_error %}
        <div id=”errors”>
            گذرواژه و تکرار گذرواژه یکسان نیستند
        </div>
    {% endif %}
    <form id=”register_form”>
        <label>
            first name : <input name=”first_name” placeholder="first name"><br>
        </label>
        <label>
            last name : <input name=”last_name” placeholder="last name"><br>
        </label>
        <label>
            user name : <input name=”username” placeholder="user name"><br>
        </label>
        <label>
            email : <input name=”email” placeholder="email"><br>
        </label>
        <label>
            password : <input name=”password1” placeholder="password"><br>
        </label>
        <label>
            enter password  again : <input name=”password2” placeholder="password"><br>
        </label>

        <button name=”submit">submit
        </button>
    </form>
{% endblock %}